<body>
  <div class="div-principal">

   <app-sidebar></app-sidebar>

    <div class="div-second">

      
      <div class="div-label">
        <div>
           <label>PharmaSystem</label>
        </div>        
        <div style="margin-left: 50em;">          
          <label> {{now}}</label>
        </div>
      </div>

        <!-- conteúdo da página -->
        <h3 class="h3-titulo">Vender</h3>
        <label class="label-campos-obrigatorios">-Todos os campos são obrigatórios.</label>
        <br>
        <br>

        <form [formGroup]="salesForm" (ngSubmit)="submitForm()" style="margin-left: -28px;"> 

        <div class="div-nome-e-id" >
          
         

           <div class="div-nome" >
            <label>Id Produto</label>
            <input formControlName="medicine" class="input" type="text" placeholder="Insira o Id do Produto">
          </div> 

          <div class="div-nome" >
            <label>Valor Total</label>
            <input formControlName="totalValue" class="input" type="text" placeholder="R$00,00">
          </div>

        </div>

        <div class="div-nome-e-id" >
          
          <div class="div-nome" >
            <label>Id Cliente</label>
            <input formControlName="costumer" class="input" type="text" placeholder="Insira o Id do Cliente">
          </div>

          <div class="div-nome" >
            <label>Id Funcionário</label>
            <input formControlName="employee" class="input" type="text" placeholder="Insira o Id do Funcionário">
          </div>

         

        </div>


 
        <div class="container-categoria">
          
          <div style="justify-content: end; display: flex;margin-top: 1em;margin-right: 15px;" >       
            <input   type="submit" class="botãoAdicionar" value="+ Adicionar">
          </div>
        </div>

       </form> 

      
       <hr>

       <div style="display: grid; margin-top: -30px;" >
        <table class="top-table" >        
          <tr>
            <th>Nome Produto</th>
            <th>Grupo</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Nome Cliente</th>
            <th>Nome Func.</th>
            <th>Excluir</th>
          </tr>
          <tr >
            <td>Dipirona</td>
            <td>Dor</td>
            <td>2</td>
            <td>R$4,00</td>
            <td>Maira Rosa</td>
            <td>Gabriela Matheus</td>
            <td><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>            </svg></a></td>
          </tr>
     
       
         
        </table>

        
      </div>  
      <div style="margin-left: 30px;margin-top: 50px; margin-bottom: 10em;;">
        <input  (click)="createSale()" type="submit" class="botão" value="Salvar">
        
      </div>

      </div>

        
        <!--  -->
  
      </div>
    
      
    </body>
  