.titulo{
    margin-left: 36px;
}
.h1{
    font-weight: bold;
}
.container-dados{
    background-color: white;
    margin-top: 50px;
    height: 350px;
    padding-left: 36px;
    padding-top: 30px;
}
.div-estilo{
    width: 390px;
    border: 1px solid rgba(190, 186, 186, 0.918);
    height: 150px;
    margin-right: 90px;
}
.div-estilo-1 {
    text-align: center;
    width: 240px;
    border: 2px solid green;
    height: 120px;
    margin-right: 90px;
}
.h1-estilo-1{
    font-size: 1.5rem;font-weight: bold;line-height: 20px;margin-top: 30px;
}
.div-funcionario{
    width: 390px;
    border: 2px solid red;
    height: 100px;
}