<body>
  <div class="div-principal">

   <app-sidebar></app-sidebar>

    <div class="div-second">

      <div class="div-label">
        <label>PharmaSystem</label>
      </div> 
      <div>
        <div class="titulo">
          <h1 class="h1">Dashboard</h1>
          <p>Relatório do estado da sua farmácia.</p>
          <div style="display: flex;margin-bottom: 20px;">
            <div class="div-estilo-1">
              <h1 class="h1-estilo-1">BOM</h1>
              <p>Status de Estoque</p>
              <div style=" height: 18px;border-top: solid 1px green;">
                <p style="background-color: turquoise;height: 18px;color: black;"> Ir para a Tela >></p>
              </div>
            </div>
            <div class="div-estilo-1">
              <h1 class="h1-estilo-1">R$200,00</h1>
              <p>Movimentação atual</p>
              <div style=" height: 18px;border-top: solid 1px green;">
                <p style="background-color: turquoise;height: 18px;color: black;"> Ir para a Tela >></p>
              </div>
            </div>
          </div>
        </div> 
      </div>   
      <div class="container-dados">
        <div  style="display: flex;margin-bottom: 20px;">
          <div class="div-estilo">
            <div style="border-bottom: solid 1px rgb(185, 177, 177);display: flex;">
              <div style="margin-left: 20px;">
                <p style="margin-top: 10px;height: 10px;font-weight: bold;">Estoque</p>
              </div>
              <div style="margin-left: 180px;">
                <p style="margin-top: 10px;height: 10px; text-align: end;">Ir para a tela >></p>
              </div>
            </div>
            <h1 style="margin-left: 20px;margin-top: 20px;font-size: 28px;font-weight: bold;">298</h1>
            <p style="margin-left: 20px;font-weight: bold;">Total de remédio em estoque</p>
          </div>
          <div class="div-estilo">
            <div style="border-bottom: solid 1px rgb(185, 177, 177);display: flex;">
              <div style="margin-left: 20px;">
                <p style="margin-top: 10px;height: 10px;font-weight: bold;">Vendas</p>
              </div>
              <div style="margin-left: 210px;">
                <p style="margin-top: 10px;height: 10px; text-align: end;">21 de março</p>
              </div>
            </div>
            <h1 style="margin-left: 20px;margin-top: 20px;font-size: 28px;font-weight: bold;">70,853</h1>
            <p style="margin-left: 20px;font-weight: bold;">Vendas realizadas hoje</p>
          </div>
        </div>
        <div style="display: flex;">
          <div class="div-estilo">
            <div style="border-bottom: solid 1px rgb(185, 177, 177);display: flex;">
              <div style="margin-left: 20px;">
                <p style="margin-top: 10px;height: 10px;font-weight: bold;">Cadastros</p>
              </div>
              <div style="margin-left: 170px;">
                <p style="margin-top: 10px;height: 10px; text-align: end;">Ir para a tela >></p>
              </div>
            </div>
            <h1 style="margin-left: 20px;margin-top: 20px;font-size: 28px;font-weight: bold;">04</h1>
            <p style="margin-left: 20px;font-weight: bold;">Clientes cadastrados</p>
          </div>
          <div class="div-estilo">
            <div style="border-bottom: solid 1px rgb(185, 177, 177);display: flex;">
              <div style="margin-left: 20px;">
                <p style="margin-top: 10px;height: 10px;font-weight: bold;">Funcionários</p>
              </div>
              <div style="margin-left: 150px;">
                <p style="margin-top: 10px;height: 10px; text-align: end;">Ir para a tela >></p>
              </div>
            </div>
            <h1 style="margin-left: 20px;margin-top: 20px;font-size: 28px;font-weight: bold;">845</h1>
            <p style="margin-left: 20px;font-weight: bold;">Funcionários Cadastrados</p>
          </div>
        </div>
      </div>        
        <!-- div temporária pra controlar o tamanho da tela -->
        <div style="margin-bottom:80px"></div>
      </div>
    </div>
    </body>
  